<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'menu.html' %}
    {% block body %}
    {% if alunos|length > 0 %}
    <table>
        <tr>
            <td>nome</td>
            <td>idade</td>
            <td>quantidade</td>
        </tr>
        {% for aluno in alunos%}
        <tr>
            <td>{{aluno.nome}}</td>
            <td>{{aluno.idade}}</td>
            <td>{{aluno.quantidade}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h1>Seus dados estão vazios</h1>
    
    {% endif %}
    {% endblock %}
</body>
</html>